<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js" ></script>

    <title>Cadastro de Jogadores!</title>
  </head>
  <body>
  
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#"> Cadastro Jogadores UOL  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/" th:href="@{/}">Jogadores </a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/jogadorForm" th:href="@{/jogadorForm}">Novo</a>
	      </li>
	     </ul>
	  </div>
	</nav>

	
    <div class="container">

		<form action="#" th:action="@{/salvar}" th:object="${jogador}" method="post" class="needs-validation" novalidate>
			
			    <div class="form-group">
			        <label for="name">Nome</label>
			        <input type="text" class="form-control" th:field="*{name}"  placeholder="Nome completo"  />
			        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name Error</span>
			    </div>
			    
			    <div class="form-group">
			        <label for="email">Email</label>
			        <input type="email" class="form-control" th:field="*{email}" placeholder="name@example.com" />
			        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span>
			        <div class="invalid-feedback">Example invalid feedback text</div>
			    </div>
			    
			    <div class="form-group">
			        <label for="fone">Telefone</label>
			        <input type="text" class="form-control" th:field="*{fone}" placeholder="(ddd) 999999999" />
			    </div>
			    
			    <div class="form-group">
				    <div class="form-check form-check-inline" th:each="lista : ${listaOrigem}" >
				        <input type="radio" class="form-check-input" th:field="*{origem}" th:value="${lista}"/>
				        <label class="form-check-label" th:for="${#ids.prev('origem')}"  th:text="${lista.descricao}"></label>
				        
				    </div>
			        <span th:if="${#fields.hasErrors('origem')}" th:errors="*{origem}">Name Error</span>
				</div>
				
				<div class="form-group">
			    	<button type="submit" class="btn btn-success">Salvar</button>
			
			    </div>
			    
		</form>

	</div>

  </body>
</html>